/******************************/
/*           Common           */
/******************************/
$fontFamily: "Lato","Helvetica Neue",sans-serif;
$fontSize:13px;
$textColor:#2d353c;
$textSecondaryColor:lighten($textColor,25%);
$borderRadius:2px;
$dividerColor:#dce2e7;

/******************************/
/*           Layout           */
/******************************/
$bodyBgColor:#e5edef;
$footerBgColor:#dee0e3;
$topbarBgColor:#3b3b48;
$menuBtnBgColor:#62626c;
$menuBtnHoverBgColor:#e96d66;
$menuBtnActiveBgColor:#e96d66;
$appNameTextColor:#ffffff;
$userNameTextColor:#ffffff;
$userRoleTextColor:#afafc0;
$topbarMenuBgColor:#dce2e7;
$topbarMenuBorderColor:#a8b4be;
$topbarMenuItemTextColor:#525c65;
$topbarMenuItemHoverBgColor:#a8b4be;
$topbarMenuItemBadgeBgColor:#e96d66;
$topbarMenuItemBadgeTextColor:#f0d1d0;
$searchInputBgColor:#f5f8f9;
$searchInputBorderColor:#f5f8f9;
$searchInputFocusBorderColor:#a8b4be;
$menuBgColor:#525262;
$menuItemTextColor:#d1d1e4;
$menuItemHoverBgColor:#6a6a7d;
$menuItemActiveTextColor:#ffffff;

/******************************/
/*           THEME            */
/******************************/

/* Icons */
$iconFontSize:13px;
$iconWidth:16px;

/* Highlight */
$highlightTextColor:#ffffff;

/* Headers */
$headerPadding:6px 12px;
$headerBgColor:#3b3b48;
$headerTextColor:#cfcfd9;
$headerHoverBgColor:#4E4E5A;
$headerBorderColor:#3b3b48;
$headerIconColor:#cfcfd9;
$headerIconHoverColor:#f7f7f8;

/* Contents */
$contentPadding:6px 12px;
$contentBorderColor:#dce2e7;
$contentBgColor:#f5f8f9;

/* Forms */
$inputBgColor:#ffffff;
$inputPadding:4px;
$inputBorderColor:#dce2e7;
$inputHoverBorderColor:#a8b4be;
$inputInvalidBorderColor:#e13131;

/* Buttons */
$buttonTextColor:#ffffff;
$toggleButtonBgColor:#c6cbcf;

/* List Items */
$listItemPadding:6px 12px;
$listItemHoverBgColor:#dce2e7;
$listItemHoverTextColor:#525262;

/* Messages */
$infoMessageBgColor:#e0f6b1;
$infoMessageTextColor:#7fb30f;
$warnMessageBgColor:#fff1ae;
$warnMessageTextColor:#f7b000;
$errorMessageBgColor:#f0d1d0;
$errorMessageTextColor:#e96d66;
$fatalMessageBgColor:#afafc0;
$fatalMessageTextColor:#3b3b48;

/* Data */
$paginatorBgColor:#ffffff;
$paginatorHoverBgColor:#dce2e7;
$datableOddRowBgColor:#ffffff;
$datatableHoverBgColor:#dce2e7;

/* Predefined Colors */
$blue:#3ebaf8;
$orange:#f7cb00;
$purple:#985edb;
$pink:#f18983;
$green:#9fd037;
$black:#525262;